@page "/login"
@layout LoginLayout

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="LoginModel">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">Login</h4>

    <label for="inputUsername" class="sr-only">User Name</label>
    <InputText id="inputUsername" class="form-control" @bind-Value="LoginModel.Email" autofocus placeholder="Username" />
    <ValidationMessage For="@(() => LoginModel.Email)" />

    <label for="inputPassword" class="sr-only">Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="LoginModel.Password" />
    <ValidationMessage For="@(() => LoginModel.Password)" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <label class="text-danger">@Error</label>

    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Create account</h6>
    </NavLink>
</EditForm>